/models/
/testsuite/
/modelbindings/
/tutorial/3dvar/
/tutorial/classical/
/tutorial/inputs_offline/
/tutorial/inputs_online/
/tutorial/inputs_online_2fields/
/tutorial/no_PDAF/
/tutorial/offline_2D_parallel/
/tutorial/offline_2D_serial/
/tutorial/offline_2D_parallelmodel/
/tutorial/offline_2D_parallelmodel_fullpar/
/tutorial/offline_2D_parallelmodel_fullpar_1fpe/
/tutorial/online_2D_serialmodel/
/tutorial/online_2D_serialmodel_2fields/
/tutorial/plotting/
/tutorial/verification/
/tutorial/cleanall.sh
/tutorial/README
/tutorial/runtests.sh
/tutorial/corr/txt_file_data/*
/tutorial/corr/outputs/for_elizabeth/
/tutorial/corr/results/for_elizabeth/
/tutorial/corr/*.o
/tutorial/corr/*.mod